@tailwind base;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../public/assets/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../public/assets/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../public/assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../public/assets/fonts/Inter-Bold.ttf");
}

@tailwind components;

@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.app-grid {
  grid-template-rows: min-content 1fr min-content;
}

.nav-padding {
  @apply px-md md:px-lg lg:px-2xl;
}

.global-padding {
  @apply px-lg md:px-lg lg:px-2xl;
}

.reverse-global-padding {
  @apply -mx-lg md:-mx-lg lg:-mx-2xl;
}

.global-page-padding {
  @apply py-xs sm:py-sm;
}

.reverse-top-global-page-padding {
  @apply -mt-xs sm:-mt-sm;
}

.articles {
  @apply grid 2xl:gap-[45px] gap-y-lg md:gap-y-xl gap-x-lg md:grid-cols-2 lg:grid-cols-3;
}

.featured-button {
  @apply select-none md:inline-block cursor-pointer transition duration-150 ease-linear hover:bg-[#0033ff] lg:mt-[45px] md:mt-lg lg:text-lg md:py-[11px] md:px-lg md:text-base text-sm font-semibold text-white rounded-[3px] py-sm mt-md bg-primary px-md;
}

.heroImage {
  @apply w-full h-52 sm:h-60 lg:h-80 3xl:h-[24rem];
}

.hero-image-overlay {
  background: #100a42;
  opacity: 0.25;
}

.overlay {
  background: linear-gradient(
    to bottom,
    rgba(7, 7, 7, 0) 60%,
    rgba(31, 31, 31, 0.705)
  );
}

h1,
h2,
h3,
h4 {
  @apply font-bold;
}

h1 {
  @apply text-3xl;
  line-height: 1.1;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

.md\:prose :where(a):not(:where([class~="not-prose"] *)) {
  color: #2c69eb !important;
}

.brand {
  font-family: "Courier Prime", monospace;
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 1;
}

.btn {
  @apply select-none cursor-pointer transition duration-150 ease-linear hover:bg-[#0033ff] text-sm font-semibold text-white rounded-[3px] bg-primary px-[0.8rem] py-[0.3rem];
}

.btn-flex {
  @apply select-none cursor-pointer transition duration-150 ease-linear hover:bg-[#000000] text-white rounded-[3px] bg-dark;
}
